@model Category



<form asp-controller="Admin" asp-action="AddCategory" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <h1> Add Category </h1>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" required />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>